/* Font Weight Needed */
/* 300,  */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(20, 20, 20);
    color: white;
}

@keyframes fade-up {
    0% {
        top: 40px;
        opacity: 1;
    }
    100% {
        top: -100px;
        opacity: 0;
    }
}

.fade-up {
    position: absolute;
    top: -100px;
    left: 44.5%;
    animation: animate-up .5s;
}

.fade-down {
    position: absolute;
    top: 40px;
    left: 44.5%;
    animation: animate-down .5s;
}

@keyframes animate-up {
    0% {
        top: 40px;
    }
    100% {
        top: -100px;
    }
}

@keyframes animate-down {
    0% {
        top: -100px;
    }
    100% {
        top: 40px;
    }
}


.auto-alert-on {

    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgba(19, 224, 4, 0.826);
    padding: 10px 20px;
    border-radius: 10px;
    border: 1.5px solid rgb(22, 255, 5);
    
}

.auto-alert-off {
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgba(224, 4, 4, 0.812);
    padding: 10px 20px;
    border-radius: 10px;
    border: 1.5px solid rgb(255, 5, 5);
}

main {
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

main .desc h1 {
    margin-bottom: 10px;
}

main .desc p {
    font-weight: 300;
}

main .lampu {
    position: relative;
}

main img {
    margin-bottom: 140px;
}

main .buttons {
    width: fit-content;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

main .buttons button {
    cursor: pointer;
    margin: 0 20px;
    border-radius: 20px;
}

main .buttons .red {
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: red;
}

main .buttons .yellow {
    padding: 10px 20px;
    border: none;
    color: black;
    background-color: yellow;
}

main .buttons .green {
    padding: 10px 20px;
    border: none;
    color: black;
    background-color: rgb(19, 255, 35);
}

.buttons .auto {
    margin-top: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
    color: white;
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(40, 40, 40);
    transition: .2s all;
}

.buttons .auto:hover {
    background-color: rgb(40, 40, 40);
}

main .lampu .red-light {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 44px;
    left: 37%;

    box-shadow: 0px -1px 108px 10px rgba(255,0,0,0.75);
}

main .lampu .yellow-light {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    top: 150px;
    left: 37%;

    box-shadow: 0px -1px 108px 10px rgba(255,255,0,0.75);
}

main .lampu .green-light {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(19, 255, 35);
    position: absolute;
    top: 255px;
    left: 37%;

    box-shadow: 0px -1px 108px 10px rgba(19, 255, 35,0.75);
}

.hidden {
    display: none;
}

main .buttons .active {
    background-color: rgb(40, 40, 40);
}

.hidup {
    opacity: 1;
}

.redup {
    opacity: .3;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
}

@media (min-width: 320px) and (max-width: 500px) {
  
    main .desc p {
        font-size: .8em;
    }

    .red-light {
        top: 210px;
    }

    .yellow-light {
        top: 315px;
    }

    .green-light {
        top: 420px;
    }

    main .buttons {
        /* flex-direction: column; */
        width: 100%;
        margin-bottom: 30px;
    }

    main .buttons button {
        width: 100%;
        margin: 10px 10px;
        border-radius: 7px;
    }

    main .desc h1 {
        margin-top: 50px;
    }
    
}