:root {
    --blue: #3A83F0;
    --dark: #1A1A1A;
    --dark-blue: #194991;   
    --h2-size: 2.4em;
    --icon-size: 50px;
}

/* Ignore this */
.bold {
    font-weight: bold;
}

.blue {
    color: var(--blue);
}

.dark-blue {
    color: var(--dark-blue);
}

.hidden {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, sans-serif;
}

.size {
    width: 80%;
    margin: 0 auto;
}

.container {
    width: 100%;
    margin: auto;
}

.first {
    background: linear-gradient(180deg, rgba(58, 131, 240, 0.4) 0%, rgba(58, 131, 240, 0.2) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

header .logo img {
    width: 90%;
}

header nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: var(--dark);
}

header nav a:last-child{
    color: #194990;
    border: 1px solid rgba(25, 73, 144, 0.5);
    border-radius: 10px;
    padding: 10px 20px;
    transition: .2s ease-in-out;
}

header nav a:last-child:hover {
    color: white;
    background-color: #194990;
}

header img.hamburger{
    display: none;
}

header .menu-overlay {
    display: none;
}

/* Header Content */

.header-content {
    display: flex;
    height: 85%;
}

.header-content > .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 20px;
    box-sizing: border-box;
    margin-right: 90px;
}

.header-content > .left > h1 {
    font-size: 2.5em;
    width: 68%;
    color: var(--dark);
}

.header-content > .left > p {
    width: 75%;
    color: rgba(26, 26, 26, 0.8);
}

.header-content > .left > h1 > .blue {
    color: var(--dark-blue);
}

.header-content > .left > .app-store {
    display: flex;
    align-items: center;
}

.header-content > .img {
    position: relative;
}

.header-content > .img > .hero {
    width: 339px;
    z-index: 3;
    position: relative;
}

.header-content > .img > .kelas-seni {
    position: absolute;
    top: 140px;
    left: -125px;
}

.header-content > .img > .bahasa-indonesia {
    position: absolute;
    top: 250px;
    right: -90px;
}

.header-content > .img > .materi-sketsa {
    position: absolute;
    top: 450px;
    left: -125px;
}

/* Section Total / Section Total */

.total {
    background: rgba(58, 131, 240, 0.05);
}

.total > .compo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 50px;
    box-sizing: border-box;
}

.compo > .years,
.compo > .instansi {
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.compo > .siswa {
    text-align: center;
} 

.compo > .years > h2,
.compo > .instansi > h2,
.compo > .siswa > h2 {
    color: var(--dark-blue);
    margin-bottom: 25px;
    font-size: 2em;
}

.compo > .years > h2 span,
.compo > .instansi > h2 span,
.compo > .siswa > h2 span {
    color: var(--dark);
}

.compo > .years > p,
.compo > .instansi > p,
.compo > .siswa > p {
    color: rgba(26, 26, 26, 0.8);
    line-height: 30px;
    font-size: 14px;
}


/* Section Apa Itu Kelas.io? (3) */

.what {
    display: flex;
    justify-content: space-between;
}

.what .apa-itu {
    width: 50%;
    margin-top: 100px;
    margin-right: 10px;
    padding: 60px 40px;
    box-sizing: border-box;
}

.what .apa-itu h2 {
    margin-bottom: 60px;
    width: 50%;
    font-size: 48px;
}

.what .apa-itu h2 span {
    color: var(--blue);
}

.what .apa-itu .desc-kelas {
    color: rgba(26, 26, 26, 0.8);
    line-height: 35px;
    font-size: 16px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
    padding-bottom: 50px;
}

.what .apa-itu .prosedur {
    margin-top: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.what .apa-itu .prosedur img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.what .apa-itu .prosedur p {
    color: rgba(26, 26, 26);
    line-height: 35px;
    font-size: 14px;
    width: 85%;
}

.what .apa-itu .prosedur a {
    color: var(--dark-blue);
}

.what .gambar-kelas {
    position: absolute;
    right: 0;
    height: 716.98px;
}

/* Section Sekolah dan Kuliah dalam Genggaman! (4) */
.school {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 137px;
    margin-bottom: 50px;
}

.school .sekolah-kuliah {
    position: relative;
    left: -80px;
    width: 940px;
} 

.school .desc-school {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.school .desc-school h2 {
    font-size: 48px;
    width: 110%;
    font-weight: 700;
    margin-bottom: 60px;
}

.school .desc-school h2 .dalam-genggaman {
    color: var(--blue);
}

.school .desc-school p.desc {
    font-size: 16px;
    color: #1a1a1a;
    opacity: 80%;
    margin-bottom: 40px;
    line-height: 30px;
}

.school .desc-school .line {
    width: 80%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
    position: relative;
    right: 1;
}

.school .desc-school .filing {
    display: flex;
    align-items: center;
}

.school .desc-school .filing img {
    width: var(--icon-size);
    height: var(--icon-size);
}

.school .desc-school .filing p {
    margin-left: 20px;
    color: #1a1a1a;
    width: 90%;
    font-size: 14px;
    line-height: 35px;
}

.school .desc-school .filing p .support{
    font-weight: bold;
}

/* Section Belajar Online Lebih Efektif (5) */

.belajar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 136px;
    margin-bottom: 191px;
}

/* Desc Styling */
.belajar .desc-belajar {
    /* border: 1px solid red; */
    width: 48%;
}

.belajar .desc-belajar h2 {
    font-size: 48px;
    width: 70%;
    margin-bottom: 60px;
    line-height: 75px;
}

.belajar .desc-belajar p.desc {
    /* width: 87%; */
    /* border: 1px solid red; */
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 3%;
    color: rgba(26 ,26, 26, .8);
    margin-bottom: 50px;
}

.belajar .desc-belajar .line {
    width: 467px;
    height: 0.5px;
    background-color: rgba(0, 0, 0, 0.25);
    margin-bottom: 42px;
}

.belajar .desc-belajar .chatting {
    display: flex;
    align-items: center;
}

.belajar .desc-belajar .chatting img {
    width: var(--icon-size);
    height: var(--icon-size);
}

.belajar .desc-belajar .chatting p {
    width: 80%;
    font-size: 14px;
    margin-left: 28px;
    line-height: 35px;
}

/* Image Styling */
.belajar .img-online {
    height: 587px;
    position: absolute;
    right: 50px;
}


/* Section Fitur Istimewa (6) */

.fitur-istimewa {
    margin-top: 191px;
    margin-bottom: 150px;
    background-image: url("img/shape/shape_grid.png");
    background-size: cover;
    position: relative;
}

.fitur-istimewa .fitur {
    position: absolute;
    /* top: -70px; */
    left: 10%;
}

img.grid {
    width: 100%;
    position: relative;
    top: 75px;
    z-index: -2;
    /* border: 1px solid red; */
}

.fitur-istimewa header {
    /* border: 1px solid red; */
    padding: 0;
}

.fitur-istimewa header h2 {
    width: 60%;
    font-size: 48px;
    line-height: 75px;
}

.fitur-istimewa header a {
    color: var(--dark-blue);
    font-size: 16px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.fitur-istimewa header a .row {
    margin-left: 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px 0 0 0;
    border-style: solid;
    border-color: var(--dark-blue);
}

.fitur-istimewa .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 315px));
    grid-template-rows: 345px 345px;
    gap: 40px;
    margin-top: 100px;
    /* border: 1px solid red; */
}

.fitur-istimewa .grid-container div {
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
}

.fitur-istimewa .grid-container div img {
    margin-bottom: 24px;
}

.fitur-istimewa .grid-container div h3 {
    font-size: 24px;
    line-height: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}

.fitur-istimewa .grid-container div p {
    font-size: 16px;
    line-height: 35px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
}

.fitur-istimewa .grid-container img {
    width: var(--icon-size);
    height: var(--icon-size);
}

/* Section Cerita Inspiratif dari Pengguna Kelas.io (7) */
.cerita-inspiratif {

}

.cerita-inspiratif header {
    margin-bottom: 75px;
}

.cerita-inspiratif header h2 {
    font-size: 48px;
    width: 60%;
    z-index: 5;
}

.cerita-inspiratif .cerita-biru {
    position: relative;
}

/* Background Biru */
.cerita-inspiratif .cerita-biru .biru {
    width: 100%;
    height: 997px;
    background-color: rgba(58, 131, 240, 0.05);
}

/* Container of its content */
.cerita-biru .cerita-satu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0px;
    left: 10%;
}

.cerita-biru .cerita-satu img {
    position: relative;
    width: 35em;
    top: -130px;
    left: 110px;
}


.cerita-biru .cerita-satu .typography {
    margin-top: -90px;
    margin-left: 90px;
    width: 50%;
}

.cerita-biru .cerita-satu .typography p:first-child {
    margin-bottom: 39px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    line-height: 35px;
}

.cerita-biru .cerita-satu .typography p:last-child {
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
}

.cerita-biru .double-quote-top {
    position: absolute;
    top: 40px;
    left: 150px;
    opacity: 0.1;
    /* width: 8%; */
}

.cerita-biru .double-quote-bottom {
    position: absolute;
    bottom: 275px;
    left: 600px;
    opacity: 0.1;
}


/* Cerita Kedua */
.cerita-biru .cerita-dua {
    position: absolute;
    bottom: 0;
    left: 10%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

}

/* Cerita Kedua - Image */
.cerita-biru .cerita-dua img {
    z-index: 7;
}

.cerita-biru .cerita-dua .typography {
    margin-top: 120px;
    margin-left: 30px;
}

.cerita-biru .cerita-dua .typography p:first-child {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 39px;
    width: 75%;
    line-height: 35px;
}

.cerita-biru .cerita-dua .typography p:last-child {
    font-size: 16px;
    line-height: 35px;
}

/* Section Wujudkan Perubahan Sekarang (7) */

.wujudkan {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 159px;
    margin-bottom: 83px;
}

.wujudkan h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 33px;
}

.wujudkan p {
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 33px;
}

.wujudkan .cta {
    display: flex;
}

.wujudkan .cta a {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 0 18.5px;
}

.wujudkan .cta a:first-child {
    background-color: var(--blue);
    color: rgba(255, 255, 255, 1);
}

.wujudkan .cta a:last-child {
    border: 1px solid rgba(25, 73, 144, 0.5);
    color: rgba(25, 73, 144, 1);
}

/* FOOTER SECTION */

footer {
    display: flex;
    justify-content: center;
    height: 315px;
    position: relative;

}

footer img {
    height: 7vh;
}

footer .footer-content {
    margin-top: 171px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}

footer .footer-content nav {
    width: 53%;
    display: flex;
    justify-content: space-between;
}

footer .footer-content nav a {
    color: rgba(26, 26, 26, 1);
    text-decoration: none;
}

footer .footer-biru {
    width: 100%;
    height: 315px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 5.58%, rgba(58, 131, 240, 0.8) 273.79%);
}

/* RESPONSIVE FOR MOBILE - M : 375px */

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
    /* Header Section */

    /* Change Default Size */
    .size {
        width: 85%;
    }

    main.container {
        overflow: hidden;
    }

    header {
        padding: 20px 0px;
    }

    header .logo img {
        margin-top: 20px;
        width: 70%;
    }

    header img.hamburger {
        display: inline-block;
    }

    header nav {
        display: none;
    }

    /* Section First */
    .first {
        /* border: 1px solid red; */
    }

    /* Header Content Section */
    .header-content {
        display: flex;
        flex-direction: column;
        height: 85%;
    }

    .header-content > .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 0px;
        box-sizing: border-box;
        margin-right: 90px;
    }
    
    .header-content > .left > h1 {
        font-size: 24px;
        line-height: 45px;
        width: 68%;
        color: var(--dark);
        margin-bottom: 30px;
    }
    
    .header-content > .left > p {
        font-size: 12px;
        line-height: 30px;
        width: 100%;
        color: rgba(26, 26, 26, 0.8);
        margin-bottom: 32px;
    }

    .header-content > .left > .app-store {
        width: 65%;
        justify-content: space-between;
    }
    
    .header-content > .left > .app-store > img:first-child {
        width: 87px;
        height: 28px;
    }

    .header-content > .left > .app-store > img:last-child {
        width: 110px;
        height: 43px;
    }

    /* Header Content - IMG */
    .header-content > .img {
        position: relative;
        height: 100%;
    }
    
    .header-content > .img > .hero {
        width: 220px;
        z-index: 0;
        position: absolute;
        left: 70px;
        bottom: 0px;
    }
    
    .header-content > .img > .kelas-seni {
        width: 30%;
        position: absolute;
        top: 100px;
        left: 35px;
    }
    
    .header-content > .img > .bahasa-indonesia {
        width: 35%;
        position: absolute;
        top: 160px;
        right: -10px;
    }
    
    .header-content > .img > .materi-sketsa {
        width: 45%;
        position: absolute;
        top: 290px;
        left: 13px;
    }

    /* Section Total */
    
    .total > .compo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 30px;
        padding: 10px 45px;
        box-sizing: border-box;
    }
    
    .compo > .years,
    .compo > .instansi {
        padding-bottom: 30px;
        border-right: 1px solid rgba(0, 0, 0, 0);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    
    .compo > .years > h2,
    .compo > .instansi > h2,
    .compo > .siswa > h2 {
        color: var(--dark-blue);
        font-size: 25px;
        line-height: 75px;
    }
    
    .compo > .years > p,
    .compo > .instansi > p,
    .compo > .siswa > p {
        color: rgba(26, 26, 26, 0.8);
        font-size: 12px;
        line-height: 30px;
        letter-spacing: 3%;
    }

    /* Section Apa Itu Kelas.io? (3) */

    .what {
        flex-direction: column;
        position: relative;
    }

    .what .apa-itu {
        width: 100%;
        padding: 0px 0px;
        box-sizing: border-box;
        order: 1;
        border: 1px solid red;
    }

    .what .apa-itu h2 {
        margin-bottom: 335px;
        width: 50%;
        font-size: 24px;
        line-height: 45px;
    }

    .what .apa-itu .desc-kelas {
        color: rgba(26, 26, 26, 0.8);
        line-height: 30px;
        font-size: 12px;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
        padding-bottom: 30px;
        /* border: 1px solid red; */
    }

    .what .apa-itu .prosedur {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .what .apa-itu .prosedur img {
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }

    .what .apa-itu .prosedur p {
        color: rgba(26, 26, 26);
        line-height: 25px;
        font-size: 10px;
        width: 85%;
    }

    .what .gambar-kelas {
        position: absolute;
        right: -30px;
        top: 180px;
        height: 316.98px;
        order: 0;
    }

    /* Section Sekolah dan Kuliah dalam Genggaman! (4) */
    .school {
        position: relative;
        flex-direction: column;
        margin-top: 60px;
        border: 1px solid red;
    }

    .school .sekolah-kuliah {
        position: absolute;
        left: 7%;
        top: 110px;
        width: 276px;
    } 

    .school .desc-school h2 {
        text-align: right;
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        line-height: 45px;
        margin-bottom: 297px;
    }

    .school .desc-school p.desc {
        font-size: 12px;
        margin-bottom: 30px;
        line-height: 30px;
        letter-spacing: 3%;
    }

    .school .desc-school .line {
        width: 100%;
        margin-bottom: 20px;
    }

    .school .desc-school .filing img {
        width: 30px;
        height: 30px;
    }

    .school .desc-school .filing p {
        font-size: 10px;
        line-height: 25px;
    }


    /* Section Belajar Online Lebih Efektif (5) */

    .belajar {
        flex-direction: column;
        margin-top: 136px;
        margin-bottom: 191px;
        border: 1px solid red;
        position: relative;
    }

    /* Desc Styling */
    .belajar .desc-belajar {
        /* border: 1px solid red; */
        width: 100%;
    }

    .belajar .desc-belajar h2 {
        font-size: 24px;
        width: 70%;
        border: 1px solid red;
        margin-bottom: 314px;
        line-height: 45px;
    }

    .belajar .desc-belajar p.desc {
        font-size: 12px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .belajar .desc-belajar .line {
        width: 100%;
        margin-bottom: 20px;
    }

    .belajar .desc-belajar .chatting img {
        width: 30px;
        height: 30px;
    }

    .belajar .desc-belajar .chatting p {
        width: 80%;
        font-size: 10px;
        margin-left: 28px;
        line-height: 25px;
    }

    /* Image Styling */
    .belajar .img-online {
        height: 297px;
        position: absolute;
        top: 90px;
        left: 1%;
    }



    /* Section Fitur Istimewa (6) */
    .fitur-istimewa {
        margin-top: 10px;
        height: 1990px;
    }

    .fitur-istimewa .fitur {
        width: 86%;
        position: absolute;
        left: 8%;
    }

    img.grid {
        display: none;
    }

    .fitur-istimewa .grad-bg {
        width: 100%;
        height: 1930px;
        background-image: url("/img/rec-panjang.png");
        background-size: 100% 100%;
        position: relative;
        top: 45px;
        z-index: -2;
    }

    .fitur header {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .fitur header h2 {
        width: 90%;
        font-size: 24px;
        line-height: 45px;
        margin-bottom: 25px;
    }

    .fitur header a {
        font-size: 12px;
        line-height: 30px;
    }

    .fitur .grid-container {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(315px, 315px));
        grid-template-rows: 239px 239px 264px 264px 239px 239px;
        gap: 30px;
        margin-top: 59px;
    }

    .fitur-istimewa .grid-container div img {
        margin-bottom: 23px;
    }

    .fitur-istimewa .grid-container div h3 {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .fitur-istimewa .grid-container div p {
        font-size: 12px;
        line-height: 30px;
    }

    .fitur-istimewa .grid-container img {
        width: 30px;
        height: 30px;
    }

    /* Background Biru */
    .cerita-inspiratif .cerita-biru .biru {
        height: 987px;
    }

    /* Section Cerita Inspiratif dari Pengguna Kelas.io (7) */
    .cerita-inspiratif {
    }

    .cerita-inspiratif header {
        margin-bottom: 60px;
        /* border: 1px solid red; */
    }

    .cerita-inspiratif header h2 {
        font-size: 24px;
        line-height: 45px;
        width: 80%;
    }

    .cerita-inspiratif .cerita-biru {
        position: relative;
        height: 1000px;
    }

    /* Background Biru */
    .cerita-inspiratif .cerita-biru .biru {
        width: 100%;
        height: 1050px;
        background-color: rgba(58, 131, 240, 0.05);
    }

    /* Container of its content */
    .cerita-biru .cerita-satu {
        flex-direction: column-reverse;
        position: absolute;
        top: 0px;
        left: 7%;
        height: 500px;
    }

    .cerita-biru .cerita-satu img {
        position: absolute;
        width: 14em;
        top: -53px;
        right: 0;
    }

    .cerita-biru .cerita-satu .typography {
        margin-top: 0;
        margin-bottom: 0;
        position: relative;
        top: 80px;
        left: -45px;
        width: 90%;
    }

    .cerita-biru .double-quote-top {
        top: 40px;
        left: 40px;
        opacity: 0.1;
        width: 20%;
    }

    .cerita-biru .cerita-satu .typography p:first-child {
        margin-bottom: 39px;
        font-size: 12px;
        line-height: 30px;
    }

    .cerita-biru .cerita-satu .typography p:last-child {
        font-size: 10px;
        line-height: 25px;
    }

    
    
    /* !! Cerita Kedua !!*/
    
    .cerita-biru .cerita-dua {
        position: absolute;
        bottom: 0;
        left: 7%;
        flex-direction: column-reverse;
    }
    
    .cerita-biru .double-quote-bottom {
        width: 20%;
        top: 63%;
        left: 73%;
        z-index: 1;
    }

    /* Cerita Kedua - Image */
    .cerita-biru .cerita-dua img {
        z-index: 7;
        width: 14em;
        position: relative;
        left: -35px;
    }

    .cerita-biru .cerita-dua .typography {
        margin-top: 39px;
        margin-left: 30px;
        position: relative;
        left: -15px;
    }

    .cerita-biru .cerita-dua .typography p:first-child {
        font-size: 12px;
        margin-bottom: 20px;
        width: 100%;
        line-height: 30px;
    }

    .cerita-biru .cerita-dua .typography p:last-child {
        font-size: 10px;
        line-height: 35px;
    }

    /* Section Wujudkan Perubahan Sekarang (7) */

    .wujudkan {
        margin-top: 159px;
        margin-bottom: 83px;
    }

    .wujudkan h1 {
        text-align: center;
        font-size: 24px;
        line-height: 45px;
        margin-bottom: 20px;
    }

    .wujudkan p {
        text-align: center;
        font-size: 12px;
        line-height: 30px;
        margin-bottom: 34px;
        width: 90%;
    }

    .wujudkan .cta {
        display: flex;
    }

    .wujudkan .cta a {
        text-decoration: none;
        padding: 10px 30px;
        border-radius: 10px;
        margin: 0 12.5px;
        font-size: 12px;
    }

    /* FOOTER SECTION */
    
    footer img {
        height: 4.5vh;
    }
    
    footer .footer-content {
        align-items: flex-start;
        flex-direction: column;
    }
    
    footer .footer-content nav {
        margin-top: 37px;
        width: 100%;
    }
    
    footer .footer-content nav a {
        font-size: 10px;
    }

}
