:root {
    --bg-white: #FDFDFD;
    --text-color: #333333;
    --sign-up: #E6E60F;
}

body {
    background-color: var(--bg-white);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: auto;
    max-width: 80%;
}

header {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2.5em;
}

header ul {
    list-style: none;
    /* height: 40px; */
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

header ul li {
    padding: 0 20px;
    height: 40%;
    /* border: 1px solid red; */
}

header ul li:last-child {
    margin-left: 20px;
    padding: 0px 0px;
}

header ul li:last-child > a{
    border-radius: 10px;
    font-weight: 600;
    background-color: var(--sign-up);
    transition: .3s all;
}

/* header ul li:last-child > a:hover {
    color: white;
    background-color: rgb(13, 13, 13);
} */


header ul li a.dot::after {
    content: '. . .';
    display: flex;
    justify-content: center;
}

header ul li a.none::after {
    content: '.';
    display: flex;
    justify-content: center;
    opacity: 0;
}

header ul li {
    display: flex;
    justify-content: baseline;
}

header ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1em;
}

header ul li a.profile {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: rgb(246, 246, 246);
    border: 1.5px solid rgb(132, 132, 132);
    overflow: hidden;
}

header ul li a.profile img {
    width: 50px;
}

.quiz {
    margin-top: 30px;
}

.quiz .title {
    display: flex;
    justify-content: space-between;
    font-size: 1.9em;
    font-weight: 500;
    margin-bottom: 30px;
}

.quiz-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quiz-cards > a {
    text-decoration: none;
    margin-bottom: 20px;
    width: 250px;
    height: 320px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.quiz-cards > .easy-card:hover {
    box-shadow: 0px 0px 50px #EB95FF;
    transform: scale(1.05);
    transition: .3s ease-in-out;
}

.quiz-cards > .mid-card:hover {
    box-shadow: 0px 0px 50px #9DFF95;
    transform: scale(1.05);
    transition: .3s ease-in-out;
}

.quiz-cards > .hard-card:hover {
    box-shadow: 0px 0px 50px #FF95AD;
    transform: scale(1.05);
    transition: .3s ease-in-out;
}

.quiz-cards > .pro-card:hover {
    box-shadow: 0px 0px 50px #EAEA40;
    transform: scale(1.05);
    transition: .3s ease-in-out;
}

.easy-card {
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #EB95FF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url('../img/quiz/easy.png');
    background-repeat: no-repeat;
    background-size: 210px;
    background-position: 10px 70px;
}


.mid-card {
    border-radius: 20px;
    background-color: #9DFF95;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url('../img/quiz/mid.png');
    background-repeat: no-repeat;
    background-size: 210px;
    background-position: 10px 70px;
}

.hard-card {
    border-radius: 20px;
    background-color: #FF95AD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url('../img/quiz/hard.png');
    background-repeat: no-repeat;
    background-size: 210px;
    background-position: 10px 70px;
}

.pro-card {
    border-radius: 20px;
    background-color: #EAEA40;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url('../img/quiz/pro.png');
    background-repeat: no-repeat;
    background-size: 210px;
    background-position: 10px 70px;
}

.quiz-cards > div > p:first-child {
    cursor: text;
}

/* Level Easy Styling */
.easy-card p {
    padding: 20px;
    color: white;
    font-size: 1.8em;
    
}

.easy-card p:nth-child(2){
    position: relative;
    top: 135px;
    font-weight: 500;
}

.easy-card .bg {
    height: 18%;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    background-color: #D88AEA;
}


/* Level Easy Styling */
.easy-card p {
    padding: 20px;
    color: white;
    font-size: 1.8em;
}

.easy-card p:nth-child(2){
    position: relative;
    top: 122px;
    font-weight: 500;
}

.easy-card img {
    width: 32px;
    height: 27px;
    margin-left: 10px;
}

.easy-card .bg {
    display: flex;
    align-items: center;
    height: 18%;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    background-color: #D88AEA;
}

/* Level Mid Styling */
.mid-card p {
    padding: 20px;
    color: #4E4E4E;
    font-size: 1.8em;
}

.mid-card p:nth-child(2){
    position: relative;
    top: 122px;
    font-weight: 500;
}

.mid-card img {
    width: 32px;
    height: 27px;
    margin-left: 10px;
}

.mid-card .bg {
    display: flex;
    align-items: center;
    height: 18%;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    background-color: #85D37F;
}

/* Level Hard Styling */
.hard-card p {
    padding: 20px;
    color: white;
    font-size: 1.8em;
}

.hard-card p:nth-child(2){
    position: relative;
    top: 122px;
    font-weight: 500;
}

.hard-card img {
    width: 32px;
    height: 27px;
    margin-left: 10px;
}

.hard-card .bg {
    display: flex;
    align-items: center;
    height: 18%;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    background-color: #E5859B;
}


/* Level Pro Styling */
.pro-card p {
    padding: 20px;
    color: #4E4E4E;
    font-size: 1.8em;
}

.pro-card p:nth-child(2) {
    position: relative;
    top: 122px;
    font-weight: 500;
}

.pro-card img {
    width: 32px;
    height: 27px;
    margin-left: 10px;
}

.pro-card .bg {
    display: flex;
    align-items: center;
    height: 18%;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    background-color: #CCCC36;
}


@media (min-width: 540px) and (max-width: 1024px) {
    header ul li {
        padding: 0 10px;
    }
}

/* Responsive Mobile */
@media (min-width: 320px) and (max-width: 500px) {

    header h1 {
        font-size: 1.5em;
    }

    header ul {
        display: none;
    }

    .quiz .title {
        font-size: 1em;
        margin-bottom: 20px;
    }

    .quiz-cards {
        justify-content: center;
    }
}