@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --bg-white: #FDFDFD;
    --text-color: #333333;
    --sign-up: #E6E60F;
}

body {
    background-color: var(--bg-white);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

@keyframes sliderDown {
    0% { top: -30%; opacity: 0; }
    100% { top: 30%; opacity: 1; }
}

.welcome {
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    text-align: center;

    position: absolute;
    z-index: 4;
    top: 30%;
    left: 30%;

    animation-name: sliderDown;
    animation-duration: .8s;
    animation-timing-function: ease-out;
}

.welcome h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.welcome p {
    margin-bottom: 35px;
}

.welcome a {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #333333;
    padding: 10px 30px;
    background-color: #E6E60F;
    border-radius: 10px;
    width: 85%;
    height: 30px;
    font-size: 1.2em;
    font-weight: 600;
}

.welcome a.close {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-bg {
    content: '.';
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: .8;
}

.container {
    margin: auto;
    max-width: 80%;
}

header {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2.5em;
}

header ul {
    list-style: none;
    height: 40px;
    display: flex;
    align-items: baseline;
}

header ul li:nth-child(4) a {
    padding: 13px 20px;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    font-weight: 500;
    transition: .3s all;
}

header ul li:nth-child(4) a:hover {
    background-color: rgb(213, 213, 213);
}

header ul li:last-child > a{
    padding: 13px 20px;
    border-radius: 10px;
    font-weight: 600;
    background-color: var(--sign-up);
    transition: .3s all;
}

header ul li:last-child > a:hover {
    color: white;
    background-color: rgb(13, 13, 13);
}

header ul li {
    padding: 0 15px;
    display: flex;
    justify-content: baseline;
}

header ul li:last-child {
    margin-left: 0px;
    padding: 0px 0px;
}

header ul li a.dot::after {
    content: '. . .';
    display: flex;
    justify-content: center;
}

header ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1em;
}

/* Content Grid */

.content {
    margin-top: 30px;
}

.top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 115px 115px 1fr;
    gap: 13px;
}

.top div {
    background-color: var(--sign-up);
    border-radius: 20px;
    font-size: 2em;
    display: flex;
    align-items: center;
    padding: 0 40px;
}

.liquiz-style p {
    width: 30%;
    font-size: 1.5em;
}

.liquiz-style {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    font-weight: 600;
    z-index: 2;
    background-image: url('../basic/White-in-Basic9.png');
    background-size: 650px;
    background-repeat: no-repeat;
    background-position-y: -20%;
    background-position-x: 70px;
}

.easy {
    grid-column: 3 / 5;
    background-image: url('../basic/White-in-Basic5.png');
    background-size: 600px;
    background-repeat: no-repeat;
    background-position-y: -30px;
    background-position-x: 120px;
}

.accurate {
    grid-column: 3 / 5;
    background-image: url('../basic/White-in-Basic2.png');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position-y: -80px;
    background-position-x: 150px;
}


/* BOTTOM GRID */

.bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 230px;
    gap: 13px;
}

.bottom > div {
    background-color: var(--sign-up);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 25px 0;
    font-size: 1.6em;
    font-weight: 600;
}

.simple {
    background-image: url('../basic/White-in-Basic3.png');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-y: 70px;
    background-position-x: center;
}

.challenging {
    background-image: url('../basic/White-in-Basic11.png');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: center;
}

.targeted {
    background-image: url('../basic/White-in-Jumper12.png');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-y: 70px;
    background-position-x: center;
}

.trial-error {
    background-image: url('../basic/White-in-Basic8.png');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-y: 70px;
    background-position-x: center;
}


/* AFTER CONTENT */

.typo h2 {
    font-size: 3em;
    margin-bottom: 30px;
}

.typo p {
    font-size: 1.5em;
    font-weight: 300;
    width: 70%;

}

.simple-content {
    margin-top: 100px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.challenging-content {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.challenging-content .typo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    order: 2;
}

.challenging-content .typo p {
    text-align: right;
}

.challenging-content img {
    order: 1;
}

.targeted-content {
    margin-top: 200px;
    display: flex;
    align-items: center;
}

.trial-error-content {
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trial-error-content .typo {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.trial-error-content .typo p {
    text-align: right;
}

.ready {
    margin-top: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 300px;
}

.ready > .top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
}

.ready h1 {
    font-weight: 400;
    font-size: 2.5em;
}

.ready p {
    font-size: 1.2em;
    font-weight: 200;
}

.ready a {
    text-decoration: none;
    color: #333333;
    background-color: var(--sign-up);
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.5em;
    transition: .3s all;
}

.ready a:hover {
    color: white;
    background-color: rgb(13, 13, 13);
}

/* FOOTER */

.footer {
    background-color: #222222;
    width: 100%;
    overflow: auto;
    position: absolute;
    left: 0;
}

.footer-content { /* FLEX CONTAINER */
    max-width: 80%;
    margin: 50px auto;
    color: #DEDEDE;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* LEFT SIDE */
.left-footer h2{
    font-size: 2.8em;
    margin-bottom: 30px;
}

.left-footer ul {
    list-style: none;
}

.left-footer ul li {
    margin: 15px 0;
}

.left-footer ul li a {
    color: #DEDEDE;
    font-weight: 300;
    text-decoration: none;
}


/* RIGHT FOOTER */
.right-footer {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.right-footer > div > ul {
    list-style: none;
}

.right-footer > div > ul > li > a{
    color: #DEDEDE;
    font-weight: 300;
    text-decoration: none;
}

.right-footer > div > ul > li {
    margin: 15px 0;
}

.tech-design {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.get-started {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* COPYRIGHT */
.copyright {
    max-width: 80%;
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.copyright p, .copyright a {
    text-decoration: none;
    color: #DEDEDE
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
    /* CSS */
    
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
/* @media (max-width: 500px) {
    .easy {
        grid-column: 1/5;
        background-size: 450px;
        background-position-y: -13px;
        background-position-x: 20%;
    }

    .accurate {
        grid-column: 1/5;
        background-size: 400px;
        background-position-y: -58px;
        background-position-x: %;
    }
} */

@media (min-width: 320px) and (max-width: 500px) {
  
    .welcome {
        width: 70%;
        left: 6%;
    }

    .welcome a.close {
        width: 75%;
    }

    /* CSS */
    header ul {
        display: none;
    }

    header h1 {
        font-size: 1.5em;
    }

    /* TOP GRID */
    .top {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 115px 115px 100px 100px;
        gap: 13px;
        margin-bottom: 20px;
        font-size: 13px;
    }

    .top div {
        padding: 0 25px;
    }

    .top .liquiz-style {
        font-size: 2.5em;
    }

    .liquiz-style {
        grid-column: 1/5;
    }

    .liquiz-style {
        background-size: 650px;
        background-repeat: no-repeat;
        background-position-y: -20%;
        background-position-x: 23%;
    }

    .liquiz-style p {
        font-size: 1em;
    }

    .easy {
        grid-column: 1/5;
        background-size: 450px;
        background-position-y: -13px;
        background-position-x: -10%;
    }

    .accurate {
        grid-column: 1/5;
        background-size: 400px;
        background-position-y: -58px;
        background-position-x: 80px;
    }

    /* BOTTOM GRID */
    .bottom {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 190px);
        gap: 13px;
    }

    .simple {
        grid-column: 1/5;
    }

    .challenging {
        grid-column: 1/5;
    }

    .targeted {
        grid-column: 1/5;
    }

    .trial-error {
        grid-column: 1/5;
    }


    /* CONTENT */

    /* SIMPLE CONTENT */
    .simple-content {
        flex-direction: column;
    }

    .simple-content .typo{
        order: 2;
    }

    .simple-content img {
        order: 1;
        max-width: 300px;
        margin-bottom: 50px;
    }


    /* CHALLENGING CONTENT */
    .challenging-content {
        flex-direction: column;
    }

    .challenging-content img {
        max-width: 300px;
        margin-bottom: 50px;       
    }

    .challenging-content .typo {
        align-items: flex-start;
    }

    .challenging-content .typo p {
        text-align: left;
    }


    /* TARGETED CONTENT */
    .targeted-content {
        flex-direction: column;
    }

    .targeted-content .typo {
        order: 2;
    }

    .targeted-content img {
        max-width: 300px;
        margin-bottom: 50px;
    }

    /* TRIAL & ERROR CONTENT */
    .trial-error-content {
        flex-direction: column;
    }

    .trial-error-content .typo {
        align-items: flex-start;
    }

    .trial-error-content .typo p {
        text-align: left;
    }

    .trial-error-content img {
        max-width: 300px;
        margin-bottom: 50px;
    }


    /* READY */
    .ready {
        height: 180px;
    }

    .ready .top h1 {
        font-size: 1.8em;
        text-align: center;
    }

    .ready .top {
        align-content: center;
    }

    /* FOOTER */

    .footer {
    }

    .footer-content {
        margin: 40px auto;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .left-footer h2{
        font-size: 1.8em;
        margin-bottom: 20px;
    }

    .left-footer ul li {
        margin: 10px 0;
    }

    .left-footer ul li a{
        font-size: .9em;
    }


    .right-footer {
        flex-direction: column;
    }

    .right-footer .tech-design {
        margin-top:5px;
    }

    .right-footer .tech-design,
    .right-footer .navigation,
    .right-footer .get-started,
    .right-footer .socials {
        text-align: right;
    }

    .right-footer .tech-design h2,
    .right-footer .navigation h2,
    .right-footer .get-started h2,
    .right-footer .socials h2 {
        font-size: 1.2em;
    }

    .right-footer .tech-design ul,
    .right-footer .navigation ul,
    .right-footer .get-started ul,
    .right-footer .socials ul {
        margin-bottom: 15px;
    }

    .right-footer .tech-design ul li,
    .right-footer .navigation ul li,
    .right-footer .get-started ul li,
    .right-footer .socials ul li{
        font-size: .9em;
        margin: 10px 0;
    }

    .copyright {
        font-size: .7em;
    }

}